<%- include('../partials/header') %>
<br>

<table id="list"></table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    </tr> <br>
  </thead>
  <tbody>
    <div id="all-books-container">
    <% books.forEach(function(b) { %>
      <tr>
        <td class="bookt"><strong><%= b.title %></strong></td>&nbsp;
        <td class="booka"><%= b.author %></td>&nbsp;
        <td class="bookg"><%= b.genre %></td>
        <td class="bookd"><a href="/books/<%= b._id %>">DETAILS</a></td>
      </tr>
      <br><br>
      <% }); %> 
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
