<%- include('../partials/header') %>
  <br>
  <div class="all-books-container">
    <div id="title-label">Title</div>
    <div class="booka" id="author-label"><strong>Author</strong></div>
    <div class="bookg" id="genre-label"><strong>Genre</strong></div>
    <div class="bookd"></div>
    <% books.forEach(function(b) { %>
      <div class="bookt"><a href="/books/<%= b._id %>">
          <%= b.title %></a>
       </div>
      <div class="booka">
        <%= b.author %>
      </div>
      <div class="bookg">
        <%= b.genre %>
      </div>
      <% }); %>

  </div>
  <%- include('../partials/footer') %>