<%- include('../partials/header') %>
<br>

<table id="list"></table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    </tr> <br>
  </thead>
  <tbody>
    <div>
    <% books.forEach(function(b) { %>
      <tr>
        <td><%= b.title %></td>&nbsp;
        <td><%= b.author %></td>&nbsp;
        <td><%= b.genre %></td>
        <td><a href="/books/<%= b._id %>">DETAILS</a></td>
      </tr>
      <% }); %> 
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
